.habit-tracker{
    padding: 1.25rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    flex: 1;
    padding-bottom: 10rem;
}

.habit-tracker::-webkit-scrollbar {
    display: none;
  }
  .habit-tracker {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.habit-counter{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}
.habit-counter>*{
  flex: 40%;
}

.calender{
  width: 100%;
  background-color: white;
  border-radius: var(--br-8xs);
  box-shadow: var(--effect);
}

.title-habit{
  font-size: 1.75rem;
  font-weight: bold;
}

.line-container {
  height: 1px;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

.line-svg{
  width: 100%;
}

.tools-habit{
  margin-top: 1.25rem;
  margin-right: 1.25rem;
}

.Navbar{
  z-index: 1;
}
.add-btn-container{
  position: absolute;
  width: 100rem;
  height: 4.5rem;
  right: 0px;
  bottom: 0px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
  box-shadow: var(--effect);
  z-index: 0;
}

.calendar-habit{
  width: 0.5rem;
  height: 0.5rem;
  color: white;
}

.add-habit{
  position: relative;
  font-size: var(--callout-bold-size);
  line-height: 1.31rem;
  font-weight: 600;
  font-family: var(--callout-bold);
  color: var(--white);
  text-align: left;
}



.add-habit-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.add-habit-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-base);
  background-color: var(--primary);
  border-radius: var(--br-81xl);
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.add-habit-btn:hover {
  background-color: #a989a6;
}