
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* 
*{
  overflow:visible;
} */
.detailWrapper{
  height: 100vh;
  /* width: 1232px; */
  background-color: white;
  position: relative;
  /* background-color: red; */
}

.detailSection{
  position: absolute;
  width: 1232px;
  height: 760px;
  left: 280px;
  top: 0px;
  /* background-color: red; */
}

.detailImageContainer{
  position: absolute;
  width: 1231.63px;
  height: 567.03px;
  left: 0.37px;
  top: 0px;
  /* background-color: black; */
}

.eventImg{
  position: absolute;
  width: 949.08px;
  height: 567.03px;
  left: 141.46px;
  top: 0px;
  background: url("/public/img1.jpg");
}




.eventTitle{
  position: absolute;
  width: 269px;
  height: 41px;
  left: 24px;
  top: 591.03px;

  /* Large Title/Medium */

  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 510;
  font-size: 34px;
  line-height: 41px;
  /* identical to box height, or 121% */

  letter-spacing: 0.004em;

  /* Black */

  color: #222222;
}

.hostName{
  position: absolute;
  width: 108px;
  height: 28px;
  left: 24px;
  top: 632.03px;

  /* Title 2/Regular */

  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */

  display: flex;
  align-items: center;
  letter-spacing: -0.0026em;

  /* Accent */

  color: #51C0B7;
}

.eventLikeBtn{
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;

  position: absolute;
  /* width: 106px; */
  height: 44px;
  left: 24px;
  top: 688.42px;

  /* White */

  background: #FFFFFF;
  /* Primary */

  border: 1px solid #C7A2C3;
  border-radius: 100px;
  gap: 22px;
  font-size: 20px;
}

.eventHeartCont{
  color: #E53935;
}














