
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    background-color: #ffffff;
    position: relative;
}

.container{
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  width: 1232px;
  height: 760px;
  left: 280px;
  top: 0px;

}

.mainImg{
  position: absolute;
  width: 1231.63px;
  height: 567.03px;
  left: 0.37px;
  top: 0px;

  /* Black */

  background: #000000;
}

.insideImg{
  position: absolute;
  width: 949.08px;
  height: 567.03px;
  right: 141.46px;
  top: 0px;

  background: url("/public/mainImg.jpg");
}

.arrowBtn{
  position: absolute;
  left: 1.95%;
  right: 96.75%;
  top: 3.3%;
  bottom: 94.51%;

  /* White */

  background:black;
  color: white;
  border: none;
}

.heading{
  position: absolute;
  width: 269px;
  height: 41px;
  left: 24px;
  top: 591.03px;

  /* Large Title/Medium */

  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 510;
  font-size: 34px;
  line-height: 41px;
  /* identical to box height, or 121% */

  letter-spacing: 0.004em;

  /* Black */

  color: #222222;
}

.authorName{
  
  position: absolute;
  width: 108px;
  height: 28px;
  left: 24px;
  top: 632.03px;

  /* Title 2/Regular */

  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */

  display: flex;
  align-items: center;
  letter-spacing: -0.0026em;

  /* Accent */

  color: #51C0B7;
}

.likeBtn{
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;

  position: absolute;
  width: 106px;
  height: 44px;
  left: 24px;
  top: 688.42px;

  /* White */

  background: #FFFFFF;
  /* Primary */

  border: 1px solid #C7A2C3;
  border-radius: 100px;
  font-size: 20px;
}

.heart{
  color: red;
}
