.add-friend-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1.6875rem;
    height: 100%;
    border-radius: 0.8438rem;
    box-sizing: border-box;
  }
  
  .button {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }